build/
Build/
out/
bin/
obj/

cmake-build-*/
.cmake/
CMakeUserPresets.json

CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json

*.exe
*.dll
*.so
*.dylib
*.lib
*.a
*.o
*.obj
*.pdb
*.ilk
*.idb

.vs/
*.sln
*.vcxproj
*.filters
*.user

.vscode/

.idea/

Thumbs.db
Desktop.ini
.DS_Store